/data/
/**results**/
/ray_results/
/model/
/off_moo_bench/problem/mo_nas/data/
/off_moo_bench/problem/mo_nas/database/
/off_moo_bench/problem/morl/data/
/off_moo_bench/problem/morl/results/
/off_moo_bench/problem/lambo/data/experiments/test/*/
/off_moo_bench/problem/lambo/data/experiments/test/black_box_opt.log
/off_moo_bench/problem/lambo/data/experiments/test/hydra_config.txt
/off_moo_bench/problem/lambo/data/experiments/test/proxy_rfp_problem.pkl
/*.npy
/*.pkl
/*.tar.gz
/*.zip
/*.csv
/test.**
/**-test-hv.csv

**/__pycache__