/data/
/results/
/model/
/off_moo_bench/problem/mo_nas/data/
/off_moo_bench/problem/mo_nas/database/
/off_moo_bench/problem/morl/data/
/off_moo_bench/problem/morl/results/
/off_moo_bench/problem/lambo/data/experiments/test/data
/off_moo_bench/problem/lambo/data/experiments/test/soft_infrared_0
/off_moo_bench/problem/lambo/data/experiments/test/sour_plank_0
/off_moo_bench/problem/lambo/data/experiments/test/parallel_poset_0
/*.npy
/*.pkl
/*.tar.gz
/*.zip

**/__pycache__