# about-time==4.2.1
# aiobotocore==2.12.1
# aiohttp==3.9.3
# aiohttp-cors==0.7.0
# aioitertools==0.11.0
# aioredis==2.0.1
# aiosignal==1.3.1
# alabaster==0.7.13
# alive-progress==3.1.5
# antlr4-python3-runtime==4.8
# asgiref==3.7.2
# async-timeout==4.0.3
# attrs==23.2.0
# autograd==1.6.2
# Babel==2.14.0
# backports.zoneinfo==0.2.1;python_version<"3.9"
# biopython==1.79
# blessed==1.20.0
# blinker==1.7.0
# botocore==1.34.51
# botorch==0.8.5
# cachetools==5.0.0
# cffi==1.16.0
# chemprop==1.6.1
# click==8.1.7
# cloudpickle==1.2.2
# cma==2.7.0
# cmake==3.25.0
# conda-pack==0.7.1
# Cython==3.0.0a10
# deepchem==2.6.0.dev20211207173323
# Deprecated==1.2.14
# descriptastorus==2.6.1
# dill==0.3.7
# Django==4.2.9
# docker-pycreds==0.4.0
# docstring-parser==0.15
# docutils==0.20.1
# evoxbench==1.0.3
# fasteners==0.19
# filelock==3.13.1
# fire==0.6.0
# Flask==3.0.0
# frozenlist==1.4.1
# fsspec==2024.3.1
# future==0.18.3
# gitdb==4.0.11
# GitPython==3.1.43
# glfw==2.7.0
# google-api-core==2.19.0
# google-auth==2.30.0
# googleapis-common-protos==1.63.1
# gpustat==1.1.1
# gpytorch==1.10
# grapheme==0.6.0
# grpcio==1.64.1
# gym==0.14.0
# higher==0.2.1
# huggingface-hub==0.0.8
# hydra-core==1.1.0.dev6
# hyperopt==0.2.7
# imageio==2.34.0
# imagesize==1.4.1
# importlib-metadata==7.0.1
# importlib_resources==6.4.0
# itsdangerous==2.1.2
# Jinja2==3.1.3
# jmespath==1.0.1
# joblib==1.3.2
# jsonschema==4.22.0
# jsonschema-specifications==2023.12.1
# linear-operator==0.4.0
# lit==15.0.7
# MarkupSafe==2.1.3
# matplotlib==3.4.3
# mpmath==1.3.0
# msgpack==1.0.8
# mujoco-py==2.1.2.14
# multidict==6.0.5
# multipledispatch==1.0.0
# mypy-extensions==1.0.0
# networkx==3.1
# numexpr==2.8.4
# nvidia-cublas-cu12==12.1.3.1
# nvidia-cuda-cupti-cu12==12.1.105
# nvidia-cuda-nvrtc-cu12==12.1.105
# nvidia-cuda-runtime-cu12==12.1.105
# nvidia-cudnn-cu12==8.9.2.26
# nvidia-cufft-cu12==11.0.2.54
# nvidia-curand-cu12==10.3.2.106
# nvidia-cusolver-cu12==11.4.5.107
# nvidia-cusparse-cu12==12.1.0.106
# nvidia-ml-py==12.555.43
# nvidia-nccl-cu12==2.18.1
# nvidia-nvjitlink-cu12==12.3.101
# nvidia-nvtx-cu12==12.1.105
# omegaconf==2.1.0.dev26
# opencensus==0.11.4
# opencensus-context==0.1.3
# # OpenMM==8.0.0
# opt-einsum==3.3.0
# packaging==23.2
# # pdbfixer==1.9.0
# Pillow==9.4.0
# pkgutil_resolve_name==1.3.10
# platformdirs==4.2.2
# prometheus_client==0.20.0
# proto-plus==1.23.0
# protobuf==4.25.2
# psutil==5.9.8
# py-spy==0.3.14
# py4j==0.10.9.7
# pyarrow==16.1.0
# pyasn1==0.6.0
# pyasn1_modules==0.4.0
# pycairo==1.23.0
# pycparser==2.21
# pyglet==1.3.2
# Pygments==2.17.2
# pymoo==0.5.0
# pyparsing==3.1.1
# pyproject==1.3.1
# pyro-api==0.1.2
# pyro-ppl==1.8.6
# PySocks==1.7.1
# PyTDC==0.3.8
# python-dateutil==2.8.2
# python-Levenshtein==0.12.2
# pytz==2023.3.post1
# PyYAML==6.0.1
# randomname==0.2.1
# ray==2.10.0
# rdkit==2023.9.4
# rdkit-pypi==2022.9.5
# redis==5.0.5
# referencing==0.35.1
# regex==2023.12.25
# reportlab==3.6.13
# requests==2.31.0
# rpds-py==0.18.1
# rsa==4.9
# s3fs==2024.3.1
# sacremoses==0.1.1
# seaborn==0.12.2
# selfies==2.0.0
# sentry-sdk==2.3.1
# setproctitle==1.3.3
# six==1.16.0
# smmap==5.0.1
# snowballstemmer==2.2.0
# Sphinx==7.1.2
# sphinxcontrib-applehelp==1.0.4
# sphinxcontrib-devhelp==1.0.2
# sphinxcontrib-htmlhelp==2.0.1
# sphinxcontrib-jsmath==1.0.1
# sphinxcontrib-qthelp==1.0.3
# sphinxcontrib-serializinghtml==1.1.5
# SQLAlchemy==2.0.25
# sqlparse==0.4.4
# sympy==1.12
# tabulate==0.8.9
# tensorboardX==2.6.2.2
# termcolor==2.4.0
# threadpoolctl==3.2.0
# tokenizers==0.10.3
# tornado==6.3.3
# tqdm==4.66.1
# transformers==4.6.0
# triton==2.1.0
# typed-argument-parser==1.9.0
# typing-inspect==0.9.0
# typing_extensions==4.9.0
# urllib3==1.26.18
# wandb==0.17.0
# wcwidth==0.2.13
# Werkzeug==3.0.1
# wrapt==1.16.0
# xarray==2023.1.0
# yarl==1.9.4
# zipp==3.17.0
# torch==2.1.2
# # torchvision==0.11.1
# # torch==2.0.1
# # torchaudio==2.0.2
# # scipy==1.10.1
# # numpy==1.22.3
# # scikit-learn==0.21.3
# # pandas==1.5.3
# # pandas-flavor==0.6.0
# # kiwisolver==1.4.4
# -i https://pypi.tuna.tsinghua.edu.cn/simple
# blas==2.120
# blas-devel==3.9.0
# boost==1.74.0
# boost-cpp==1.74.0
# bottleneck==1.3.7
# brotli-python==1.0.9
# bzip2==1.0.8
# ca-certificates==2024.2.2
# cairo==1.16.0
# certifi==2024.2.2
# charset-normalizer==3.3.2
# colorama==0.4.6
# cudatoolkit==10.2.89
# cycler==0.12.1
# expat==2.5.0
# fontconfig==2.14.1
# freetype==2.10.4
# fuzzywuzzy==0.18.0
# giflib==5.2.1
# glib==2.69.1
# greenlet==3.0.1
# icu==70.1
# idna==3.6
# joblib==1.3.2
# jpeg==9e
# kiwisolver==1.4.4
# lcms2==2.12
# ld_impl_linux-64==2.38
# lerc==3.0
# libblas==3.9.0
# libcblas==3.9.0
# libdeflate==1.17
# libexpat==2.5.0
# libffi==3.4.4
# libgcc-ng==13.2.0
# libgfortran-ng==13.2.0
# libgfortran5==13.2.0
# libiconv==1.17
# liblapack==3.9.0
# liblapacke==3.9.0
# libopenblas==0.3.25
# libpng==1.6.39
# libstdcxx-ng==11.2.0
# libtiff==4.5.1
# libuuid==1.41.5
# libwebp==1.3.2
# libwebp-base==1.3.2
# libxcb==1.16
# libxml==2.9.14
# libzlib==1.2.13
# llvm-openmp==17.0.6
# lz4-c==1.9.4
# matplotlib-base==3.4.3
# ncurses==6.4
# networkx==3.1
# numexpr==2.8.4
# numpy==1.22.3
# ocl-icd==2.3.2
# ocl-icd-system==1.0.0
# openbabel==3.1.1
# openblas==0.3.25
# openmm==8.0.0
# openssl==3.2.1
# pandas==1.5.3
# pcre==8.45
# # pdbfixer==1.9
# pillow==9.4.0
# pixman==0.40.0
# pthread-stubs==0.4
# pycairo==1.23.0
# pyparsing==3.1.1
# pysocks==1.7.1
# pytdc==0.3.8
# # python==3.8.18
# python-dateutil==2.8.2
# python-levenshtein==0.12.2
# python_abi==3.8
# pytz==2023.3.post1
# readline==8.2
# reportlab==3.6.13
# requests==2.31.0
# seaborn==0.12.2
# setuptools==68.2.2
# six==1.16.0
# sqlalchemy==2.0.25
# sqlite==3.41.2
# tk==8.6.12
# tornado==6.3.3
# typing-extensions==4.9.0
# typing_extensions==4.9.0
# wheel==0.41.2
# xorg-libxau==1.0.11
# xorg-libxdmcp==1.1.3
# xz==5.4.5
# zlib==1.2.13
# zstd==1.5.5
about-time==4.2.1
aiobotocore==2.12.1
aiohttp==3.9.3
aioitertools==0.11.0
aiosignal==1.3.1
alabaster==0.7.13
alive-progress==3.1.5
antlr4-python3-runtime==4.8
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.2.0
autograd==1.6.2
babel==2.14.0
backports-zoneinfo==0.2.1
biopython==1.79
blinker==1.7.0
botocore==1.34.51
botorch==0.8.5
chemprop==1.6.1
cachetools==5.0.0
cffi==1.16.0
chemprop==1.6.1
click==8.1.7
cloudpickle==1.2.2
cma==2.7.0
conda-pack==0.7.1
cython==3.0.0a10
deepchem==2.6.0.dev20211207173323
deprecated==1.2.14
descriptastorus==2.6.1
dill==0.3.7
django==4.2.9
docstring-parser==0.15
docutils==0.20.1
evoxbench==1.0.3
fasteners==0.19
filelock==3.13.1
fire==0.6.0
flask==3.0.0
frozenlist==1.4.1
fsspec==2024.3.1
future==0.18.3
glfw==2.7.0
gpytorch==1.10
grapheme==0.6.0
gym==0.14.0
higher==0.2.1
huggingface-hub==0.0.8
hydra-core==1.1.0.dev6
hyperopt==0.2.7
imageio==2.34.0
imagesize==1.4.1
importlib-metadata==7.0.1
importlib-resources==6.4.0
itsdangerous==2.1.2
jinja2==3.1.3
jmespath==1.0.1
linear-operator==0.4.0
markupsafe==2.1.3
mpmath==1.3.0
mujoco-py==2.1.2.14
multidict==6.0.5
multipledispatch==1.0.0
mypy-extensions==1.0.0
numpy==1.23.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
omegaconf==2.1.0.dev26
opt-einsum==3.3.0
packaging==23.2
pandas-flavor==0.6.0
pip==24.0
protobuf==4.25.2
py4j==0.10.9.7
pycparser==2.21
pyglet==1.3.2
pygments==2.17.2
pymoo==0.5.0
pyro-api==0.1.2
pyro-ppl==1.8.6
pyyaml==6.0.1
randomname==0.2.1
rdkit==2023.9.4
rdkit-pypi==2022.9.5
regex==2023.12.25
s3fs==2024.3.1
sacremoses==0.1.1
selfies==2.0.0
snowballstemmer==2.2.0
sphinx==7.1.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.4
sympy==1.12
tabulate==0.8.9
tensorboardx==2.6.2.2
termcolor==2.4.0
threadpoolctl==3.2.0
tokenizers==0.10.3
# torchvision==0.11.1
tqdm==4.66.1
transformers==4.6.0
triton==2.1.0
typed-argument-parser==1.9.0
typing-inspect==0.9.0
urllib3==1.26.18
werkzeug==3.0.1
wrapt==1.16.0
xarray==2023.1.0
yarl==1.9.4
zipp==3.17.0
# scipy==1.10.1
# scikit-learn==0.21.3
# -i https://pypi.tuna.tsinghua.edu.cn/simple