# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=conda_forge
_openmp_mutex=4.5=2_kmp_llvm
_sysroot_linux-64_curr_repodata_hack=3=haa98f57_10
about-time=4.2.1=pypi_0
absl-py=2.1.0=pypi_0
aiobotocore=2.12.1=pypi_0
aiohttp=3.9.3=pypi_0
aioitertools=0.11.0=pypi_0
aiosignal=1.3.1=pypi_0
alabaster=0.7.13=pypi_0
alive-progress=3.1.5=pypi_0
antlr4-python3-runtime=4.9.3=pypi_0
asgiref=3.7.2=pypi_0
astroid=3.2.4=pypi_0
async-timeout=4.0.3=pypi_0
attrs=23.2.0=pypi_0
autograd=1.6.2=pypi_0
babel=2.14.0=pypi_0
backports-zoneinfo=0.2.1=pypi_0
binutils_impl_linux-64=2.38=h2a08ee3_1
binutils_linux-64=2.38.0=hc2dff05_0
biopython=1.79=pypi_0
black=24.8.0=pypi_0
blas=2.120=openblas
blas-devel=3.9.0=20_linux64_openblas
blinker=1.7.0=pypi_0
boost=1.74.0=py38h2b96118_5
boost-cpp=1.74.0=h75c5d50_8
botocore=1.34.51=pypi_0
botorch=0.8.5=pypi_0
bottleneck=1.3.7=py38h7e4f40d_0
brotli-python=1.0.9=py38hfa26641_7
bzip2=1.0.8=hd590300_5
ca-certificates=2024.7.4=hbcca054_0
cachetools=5.0.0=pypi_0
cairo=1.16.0=hb05425b_5
certifi=2024.7.4=pyhd8ed1ab_0
cffi=1.16.0=pypi_0
charset-normalizer=3.3.2=pyhd8ed1ab_0
chemprop=1.6.1=pypi_0
click=8.1.7=pypi_0
cloudpickle=1.2.2=pypi_0
cma=2.7.0=pypi_0
cmake=3.25.0=pypi_0
colorama=0.4.6=pyhd8ed1ab_0
conda-pack=0.7.1=pypi_0
cudatoolkit=10.2.89=h713d32c_10
cycler=0.12.1=pyhd8ed1ab_0
cython=3.0.0a10=pypi_0
deepchem=2.6.0.dev20211207173323=pypi_0
deprecated=1.2.14=pypi_0
descriptastorus=2.6.1=pypi_0
dill=0.3.7=pypi_0
django=4.2.9=pypi_0
docker-pycreds=0.4.0=pypi_0
docstring-parser=0.15=pypi_0
docutils=0.20.1=pypi_0
etils=1.3.0=pypi_0
evoxbench=1.0.3=pypi_0
expat=2.5.0=hcb278e6_1
fasteners=0.19=pypi_0
filelock=3.13.1=pypi_0
fire=0.6.0=pypi_0
flake8=7.1.1=pypi_0
flask=3.0.0=pypi_0
fontconfig=2.14.1=h52c9d5c_1
freetype=2.10.4=hca18f0e_2
frozenlist=1.4.1=pypi_0
fsspec=2024.3.1=pypi_0
future=0.18.3=pypi_0
fuzzywuzzy=0.18.0=pyhd8ed1ab_0
gcc_impl_linux-64=11.2.0=h1234567_1
gcc_linux-64=11.2.0=h5c386dc_0
giflib=5.2.1=h0b41bf4_3
gitdb=4.0.11=pypi_0
gitpython=3.1.43=pypi_0
glfw=2.7.0=pypi_0
glib=2.69.1=he621ea3_2
gpytorch=1.10=pypi_0
grapheme=0.6.0=pypi_0
greenlet=3.0.1=py38h6a678d5_0
gxx_impl_linux-64=11.2.0=h1234567_1
gxx_linux-64=11.2.0=hc2dff05_0
gym=0.14.0=pypi_0
h2=4.1.0=py38h578d9bd_0
higher=0.2.1=pypi_0
hpack=4.0.0=pyh9f0ad1d_0
huggingface-hub=0.0.8=pypi_0
hydra-core=1.3.2=pypi_0
hyperframe=6.0.1=pyhd8ed1ab_0
hyperopt=0.2.7=pypi_0
icu=70.1=h27087fc_0
idna=3.6=pyhd8ed1ab_0
imageio=2.34.0=pypi_0
imagesize=1.4.1=pypi_0
importlib-metadata=7.0.1=pypi_0
importlib-resources=6.4.0=pypi_0
isort=5.13.2=pypi_0
itsdangerous=2.1.2=pypi_0
jinja2=3.1.3=pypi_0
jmespath=1.0.1=pypi_0
joblib=1.3.2=pyhd8ed1ab_0
jpeg=9e=h0b41bf4_3
kernel-headers_linux-64=3.10.0=h4a8ded7_16
kiwisolver=1.4.5=pypi_0
lambo=0.2.1=dev_0
lcms2=2.12=h3be6417_0
ld_impl_linux-64=2.38=h1181459_1
lerc=3.0=h295c915_0
libblas=3.9.0=20_linux64_openblas
libcblas=3.9.0=20_linux64_openblas
libdeflate=1.17=h5eee18b_1
libexpat=2.5.0=hcb278e6_1
libffi=3.4.4=h6a678d5_0
libgcc-devel_linux-64=11.2.0=h1234567_1
libgcc-ng=13.2.0=h807b86a_3
libgfortran-ng=13.2.0=h69a702a_3
libgfortran5=13.2.0=ha4646dd_3
libgomp=13.2.0=h807b86a_3
libiconv=1.17=hd590300_2
liblapack=3.9.0=20_linux64_openblas
liblapacke=3.9.0=20_linux64_openblas
libopenblas=0.3.25=pthreads_h413a1c8_0
libpng=1.6.39=h753d276_0
libstdcxx-devel_linux-64=11.2.0=h1234567_1
libstdcxx-ng=11.2.0=h1234567_1
libtiff=4.5.1=h6a678d5_0
libuuid=1.41.5=h5eee18b_0
libwebp=1.3.2=h11a3e52_0
libwebp-base=1.3.2=hd590300_0
libxcb=1.16=hd590300_0
libxcrypt=4.4.36=hd590300_1
libxml2=2.9.14=h22db469_4
libzlib=1.2.13=hd590300_5
linear-operator=0.4.0=pypi_0
lit=15.0.7=pypi_0
llvm-openmp=17.0.6=h4dfa4b3_0
lz4-c=1.9.4=h6a678d5_0
markupsafe=2.1.3=pypi_0
matplotlib-base=3.4.3=py38hf4fb855_1
mccabe=0.7.0=pypi_0
mpmath=1.3.0=pypi_0
mujoco=3.2.2=pypi_0
mujoco-py=2.1.2.14=pypi_0
multidict=6.0.5=pypi_0
multipledispatch=1.0.0=pypi_0
mypy-extensions=1.0.0=pypi_0
ncurses=6.4=h6a678d5_0
networkx=3.1=pyhd8ed1ab_0
numexpr=2.8.4=py38hd2a5715_1
numpy=1.23.2=pypi_0
nvidia-cublas-cu12=12.1.3.1=pypi_0
nvidia-cuda-cupti-cu12=12.1.105=pypi_0
nvidia-cuda-nvrtc-cu12=12.1.105=pypi_0
nvidia-cuda-runtime-cu12=12.1.105=pypi_0
nvidia-cudnn-cu12=8.9.2.26=pypi_0
nvidia-cufft-cu12=11.0.2.54=pypi_0
nvidia-curand-cu12=10.3.2.106=pypi_0
nvidia-cusolver-cu12=11.4.5.107=pypi_0
nvidia-cusparse-cu12=12.1.0.106=pypi_0
nvidia-nccl-cu12=2.18.1=pypi_0
nvidia-nvjitlink-cu12=12.3.101=pypi_0
nvidia-nvtx-cu12=12.1.105=pypi_0
ocl-icd=2.3.2=hd590300_1
ocl-icd-system=1.0.0=1
omegaconf=2.3.0=pypi_0
openbabel=3.1.1=py38hd2c4bc0_3
openblas=0.3.25=pthreads_h7a3da1a_0
openmm=8.0.0=py38h9522d40_1
openssl=3.3.1=h4bc722e_2
opt-einsum=3.3.0=pypi_0
packaging=23.2=pypi_0
pandas=2.0.3=pypi_0
pandas-flavor=0.6.0=pypi_0
pathspec=0.12.1=pypi_0
pcre=8.45=h9c3ff4c_0
pdbfixer=1.9=pyh1a96a4e_0
pillow=9.4.0=py38h6a678d5_1
pip=24.0=pypi_0
pixman=0.40.0=h7f8727e_1
platformdirs=4.2.2=pypi_0
protobuf=4.25.2=pypi_0
psutil=6.0.0=pypi_0
pthread-stubs=0.4=h36c2ea0_1001
py4j=0.10.9.7=pypi_0
pycairo=1.23.0=py38hd1222b9_0
pycodestyle=2.12.1=pypi_0
pycparser=2.21=pypi_0
pyflakes=3.2.0=pypi_0
pyglet=1.3.2=pypi_0
pygments=2.17.2=pypi_0
pylint=3.2.7=pypi_0
pymoo=0.5.0=pypi_0
pyopengl=3.1.7=pypi_0
pyparsing=3.1.1=pyhd8ed1ab_0
pyro-api=0.1.2=pypi_0
pyro-ppl=1.8.6=pypi_0
pysocks=1.7.1=pyha2e5f31_6
pytdc=0.3.8=pyhd8ed1ab_0
python=3.8.18=h955ad1f_0
python-dateutil=2.8.2=pyhd8ed1ab_0
python-levenshtein=0.12.0=pypi_0
python_abi=3.8=2_cp38
pytz=2023.3.post1=pyhd8ed1ab_0
pyyaml=6.0.1=pypi_0
randomname=0.2.1=pypi_0
rdkit=2023.9.4=pypi_0
rdkit-pypi=2022.9.5=pypi_0
readline=8.2=h5eee18b_0
regex=2023.12.25=pypi_0
reportlab=3.6.13=py38h5eee18b_0
requests=2.31.0=pyhd8ed1ab_0
s3fs=2024.3.1=pypi_0
sacremoses=0.1.1=pypi_0
scikit-learn=0.21.3=pypi_0
scipy=1.10.1=pypi_0
seaborn=0.12.2=py38h06a4308_0
selfies=2.0.0=pypi_0
sentry-sdk=2.13.0=pypi_0
setproctitle=1.3.3=pypi_0
setuptools=68.2.2=py38h06a4308_0
six=1.16.0=pyh6c4a22f_0
smmap=5.0.1=pypi_0
snowballstemmer=2.2.0=pypi_0
sphinx=7.1.2=pypi_0
sphinxcontrib-applehelp=1.0.4=pypi_0
sphinxcontrib-devhelp=1.0.2=pypi_0
sphinxcontrib-htmlhelp=2.0.1=pypi_0
sphinxcontrib-jsmath=1.0.1=pypi_0
sphinxcontrib-qthelp=1.0.3=pypi_0
sphinxcontrib-serializinghtml=1.1.5=pypi_0
sqlalchemy=2.0.25=py38h01eb140_0
sqlite=3.41.2=h5eee18b_0
sqlparse=0.4.4=pypi_0
sympy=1.12=pypi_0
sysroot_linux-64=2.17=h4a8ded7_16
tabulate=0.8.9=pypi_0
tensorboardx=2.6.2.2=pypi_0
termcolor=2.4.0=pypi_0
threadpoolctl=3.2.0=pypi_0
tk=8.6.12=h1ccaba5_0
tokenizers=0.10.3=pypi_0
tomli=2.0.1=pypi_0
tomlkit=0.13.2=pypi_0
torch=2.0.1+cu118=pypi_0
torchaudio=2.0.2+cu118=pypi_0
torchvision=0.11.1=pypi_0
tornado=6.3.3=py38h01eb140_1
tqdm=4.66.1=pypi_0
transformers=4.6.0=pypi_0
triton=2.0.0=pypi_0
typed-argument-parser=1.9.0=pypi_0
typing-extensions=4.9.0=hd8ed1ab_0
typing-inspect=0.9.0=pypi_0
typing_extensions=4.9.0=pyha770c72_0
tzdata=2024.1=pypi_0
urllib3=1.26.18=pypi_0
wandb=0.17.7=pypi_0
werkzeug=3.0.1=pypi_0
wheel=0.41.2=py38h06a4308_0
wrapt=1.16.0=pypi_0
xarray=2023.1.0=pypi_0
xorg-libxau=1.0.11=hd590300_0
xorg-libxdmcp=1.1.3=h7f98852_0
xz=5.4.5=h5eee18b_0
yarl=1.9.4=pypi_0
zipp=3.17.0=pypi_0
zlib=1.2.13=hd590300_5
zstandard=0.22.0=py38ha98ab4e_0
zstd=1.5.5=hc292b87_0
